.room-create-container {
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.room-create-title {
  font-size: 28px;
  margin-bottom: 20px;
  text-align: center;
}

.success-message {
  color: green;
  text-align: center;
  margin-bottom: 10px;
}

.error-message {
  color: red;
  text-align: center;
  margin-bottom: 10px;
}

.room-select {
  display: block;
  width: 30%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  appearance: none;
}

.room-select::-ms-expand {
  display: block;
}

.room-select:after {
  content: "\25BC";
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
}

.create-button {
  padding: 8px 12px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.create-button:hover {
  background-color: aquamarine;
}

.room-name {
  display: block;
  width: 50%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}
